{%extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block app_content%}
    <head>
        <h1><img class="not-loading" src="{{ url_for('static', filename='images/jinni_full.png') }}"
                       alt="Jinni logo" style="width:140px;height:105px;"></h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jinni_main.css') }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>

    <h3>Lyric Generator</h3>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Jinni is an app that produces new rap songs on demand. To get the source code of the algorithm,
                    you can visit our <a href="#">github</a> repository.</h4>
                <h4 class = "not-loading">Explore the options for building new rap
                    lyrics below!</h4>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4">
                <h4>Build a rap lyric about a specific topic.</h4>
                <form action="" method="post">
                    {{ custom_song_form.hidden_tag() }}
                    {{custom_song_form.req_word.label}}
                    {{custom_song_form.req_word(size=32)}}
                    <br>
                    {% for error in custom_song_form.req_word.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br>
                    {%if synonyms%}
                    <h4>You can instead write about:</h4>
                    {%for synonym in synonyms%}
                    <h4><a href="{{ url_for('main.jinni_use_syn', song_id=curr_song.id, syn=synonym) }}" >{{synonym}}</a></h4>
                    {%endfor%}
                    {%endif%}
                    <span class="not-loading">
                    {{custom_song_form.submit(class="option_button", onclick="$('.loading').show(); $('.not-loading').hide()")}}</span>
                        <img class="loading" style="display:none; width:100px;height:100px;" src="{{ url_for('static', filename='images/load.gif') }}" alt="" />
                </form>
            </div>

            <div class="col-md-4">
                <h4>Build rap lyric about one of our most common topics:</h4>
                <div class="option_button"> Create a Song About:<br>
                <a href="{{ url_for('main.jinni_use_syn', song_id=curr_song.id, syn='man') }}">Man</a><br>
                <a href="{{ url_for('main.jinni_use_syn', song_id=curr_song.id, syn='girl') }}">Girl</a><br>
                <a href="{{ url_for('main.jinni_use_syn', song_id=curr_song.id, syn='drug') }}">Drug</a>
                    </div>
            </div>

            <div class="col-md-4">
                <h4>Build rap lyric without topic constraint.</h4>
                <a href="{{ url_for('main.jinni_new_song', liked=2, song_id=curr_song.id) }}" class="option_button" style="text-decoration:  none;">
                    Create a Song!</a>
            </div>
        </div>
    </div>

{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>



</script>

{%endblock%}



