{%extends "base.html"%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block app_content%}
    <head>
        <h1><img class="not-loading" src="{{ url_for('static', filename='images/jinni_full.png') }}"
                       alt="Jinni logo" style="width:266px;height:200px; display:none;"></h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jinni_main.css') }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <div style="">
        <img class="loading" src="{{ url_for('static', filename='images/load.gif') }}"
                                                    style="width:200px;height:200px;" alt="" />
        <h2 class="loading">Jinni is now rubbing his magic lamp to produce some great lyrics to you!</h2>

        <h2 id="loading_bar">
            <img src="{{ url_for('static', filename='images/jinni_loading_lamp.gif') }}"
                       alt="Jinni loading" style="width:400px;height:150px;">

            <span style="" id="timer_div"></span></h2>

        <h2 id="go_build_lyric" style="display:none;"><a class="start_button" href="{{ url_for('main.jinni_new_song_custom', liked=2, song_id=song.id) }}">
           Start!</a></h2>

        <br>
        <h2 style="color:rgb(255,255,140);">When creating your own lyrics</h2>
            <ul style="list-style-type: square;">
               <li><h3>Click on the <img src="{{ url_for('static', filename='images/refresh.png') }}" alt="refresh" style="width:12px;height:12px;">
            symbol next to any sentence to replace it.</h3></li>
                <li><h3>Hover your mouse over any sentence to get possible replacements,<br>
                then click the desired replacement if you wish to change the given sentence.</h3></li>
                <li><h3>Click on "edit" next to any sentence to change it manually, <br>
                    then click "commit" after changes were made.</h3></li>
            </ul>
        <br>
        <h2 id="curious" style="color:rgb(255,255,140);">In the meantime, curious as to how Jinni works?</h2>

          <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active" style="font-style: italic">
                  <h2 style="color:rgb(255,255,140);">To Sound Nice and Make Sense</h2>
                <h3>There are two main aspects of songwriting that Jinni implements.<br><br><br><br><br><br><br></h3>
              </div>

              <div class="item" style="font-style: italic">
                  <h2 style="color:rgb(255,255,140);">Sonority</h2>
                  <h3>Jinni measures how well two sentences rhyme by<br>
                      measuring their phonetic distance. For that, Jinni uses<br>
                      <a href="#">word encoding</a> and its own <a href="#">edit distance algorithm</a><br><br><br><br><br></h3>
              </div>

              <div class="item" style="font-style: italic">
                  <h2 style="color:rgb(255,255,140);">Meaning</h2>
                  <h3>Jinni uses <a href="#">Markov chains</a> to build new sentences.<br>
                      It ensures that sentences are related in meaning <br>
                      by using <a href="#">Word2Vec</a>, a machine learning algorithm.<br><br><br><br></h3>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


        </div>


{%endblock%}

{%block scripts%}
    {{super()}}
    {{moment.include_moment()}}
    {{moment.lang(g.locale)}}


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script>

var seconds_left = 300;

var interval = setInterval(function() {
    document.getElementById('timer_div').innerHTML = "" + Math.trunc(100 - 0.33*(--seconds_left)) + "%";

    if ('{{song.about[1]|safe}}' != '=' || seconds_left <= 0)
    {
       document.getElementById('timer_div').style.display = "none";
       document.getElementById('curious').innerHTML = "Curious as to how Jinni works?";
       document.getElementById('loading_bar').style.display="none";
       clearInterval(interval);
       document.getElementById('go_build_lyric').style.display="block";
       document.getElementsByClassName('loading')[0].style.display="none";
       document.getElementsByClassName('loading')[1].style.display="none";
       document.getElementsByClassName('not-loading')[0].style.display="inline";
    }

}, 100);



</script>

{%endblock%}



