.bad_button {
  background-color: rgb(255, 59, 10);
  border: none;
  color: rgb(190,190,190);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.good_button {
  background-color: rgb(87, 133, 10);
  border: none;
  color: rgb(190,190,190);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.edit_button {
  color: rgb(120,120,120);
  background-color: rgb(255,240,255);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.song_display{
   background-color: rgb(255,240,255);
}

#dialog {
display:    none;
z-index:    100;
background: white;
padding:    2px;
font:       10pt tahoma;
border-style: solid;
border-width:     3px;
border-color: rgb(32,220,200);
position:relative;
top:10%;
left:50%;
width:400px;  /* adjust as per your needs */
height:450px;   /* adjust as per your needs */
margin-left:-200px;   /* negative half of width above */
margin-top:-230px;   /* negative half of height above */
}

#x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
    width:20px;  /* adjust as per your needs */
    height:20px;
}

