.option_button{
  background-color: rgb(32,220,200);
  border: none;
  color: rgb(0,0,0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.start_button{
  background-color: rgb(32,220,200);
  border: none;
  color: rgb(0,0,0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}


hr{
 background-color:black;
 height: 1px; border: 0;
}

#buy_me_coffee_icon {
    position: relative;
    top: 0px;
    right: 0px;
    width:200px;
    height:50px;
}
